@charset "utf-8";

body {
	background-color: #397339;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-image: url("../images/banner.jpg");
}

.my-navbar {
	font-family: 'Montserrat', sans-serif;	
	color: beige;
}

.row {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.title {
	color:blue;
	font-family: 'Montserrat', sans-serif;
}